.picks-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  max-width: 500px;
}

.header-left p {
  margin: 0;
}

.header-right {
  display: flex;
  gap: 10px;
}

.add-button,
.edit-button {
  padding: 10px 20px;
  background-color: #23b169;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.edit-button {
  z-index: 510;
}
.edit-popup-button {
  position: fixed; /* Fixed positioning */
  bottom: 0; /* Align to the bottom of the viewport */
  left: 0; /* Align to the left of the viewport */
  right: 0; /* Stretch to the right of the viewport */
  padding: 10px; /* Space around buttons */
  display: flex; /* Align buttons horizontally */
  justify-content: center; /* Center buttons */
  gap: 10px; /* Space between buttons */
  z-index: 510; /* Ensure it appears above other content */
}
.add-button:hover,
.edit-button:hover {
  background-color: #1c8c53;
}
/* Ensure the picks container is above the overlay */
.picks-container {
  position: relative;
  z-index: 510;
  background: white;
}
.about-picks {
  position: relative;
  z-index: 510;
  background: white;
  padding-bottom: 1rem;
}
