/* src/components/cart.css */
.cart-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.back-button {
  padding: 12px 24px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.back-button {
  background-color: #28a745; /* 녹색 */
  z-index: 1010;
}

.back-button:hover {
  background-color: darken(#28a745, 10%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.back-button:active {
  background-color: darken(#28a745, 15%);
  box-shadow: none;
}

.back-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5);
}
.delete-button {
  width: 40px;
  height: 40px;
  background-image: url("./trash.png"); /* 이미지 경로 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: inline-block;
  margin: 10px;
}

.delete-button:hover {
  transform: scale(1.1); /* 버튼이 약간 커짐 */
}

.delete-button:active {
  transform: scale(0.9); /* 클릭 시 버튼이 약간 작아짐 */
}

.delete-button:focus {
  outline: none;
}

.cart-details {
  text-align: center;
}

.cart-name {
  font-size: 24px;
  font-weight: bold;
}

.user-name {
  font-size: 18px;
  color: #666;
}
