.picks-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 10px;
}

.picks {
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
